<footer class="airbnb-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h5>Support</h5>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Safety information</a></li>
        <li><a href="#">Cancellation options</a></li>
        <li><a href="#">Our COVID-19 Response</a></li>
      </ul>
    </div>
    
    <div class="footer-section">
      <h5>Community</h5>
      <ul>
        <li><a href="#">Wanderlust.org</a></li>
        <li><a href="#">Disaster relief housing</a></li>
        <li><a href="#">Support local hosts</a></li>
      </ul>
    </div>
    
    <div class="footer-section">
      <h5>Hosting</h5>
      <ul>
        <li><a href="#">Try hosting</a></li>
        <li><a href="#">Host resources</a></li>
        <li><a href="#">Community forum</a></li>
        <li><a href="#">Host responsibly</a></li>
      </ul>
    </div>
    
    <div class="footer-section">
      <h5>About</h5>
      <ul>
        <li><a href="#">Newsroom</a></li>
        <li><a href="#">Learn about new features</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Investors</a></li>
      </ul>
    </div>
  </div>
  
  <div class="footer-bottom">
    <div class="footer-legal">
      <span>&copy; 2025 Wanderlust, Inc.</span>
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/sitemap">Sitemap</a>
    </div>
    
    <div class="footer-socials">
      <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a>
      <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
    </div>
    
    <div class="footer-locale">
      <a href="#" class="language">
        <i class="fa-solid fa-globe"></i>
        <span>English (US)</span>
      </a>
      <a href="#" class="currency">
        <span>₹ INR</span>
      </a>
    </div>
  </div>
</footer>