<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is your Home Page</h1>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores commodi
      laborum fugit, sunt unde consequuntur voluptate ipsum quasi debitis rem
      ducimus recusandae suscipit non repellendus quo. Facilis recusandae
      accusantium assumenda. Voluptas reiciendis distinctio unde consequatur
      quae sit recusandae excepturi officiis illum, perferendis, ullam impedit
      beatae iusto laborum perspiciatis doloribus adipisci assumenda ad!
      Aspernatur inventore, sit nobis a minus quae debitis. Tenetur alias ea
      impedit fugiat aliquam. Exercitationem nostrum soluta reprehenderit iusto
      alias praesentium atque perferendis earum omnis? Omnis, obcaecati? A fugit
      voluptates beatae dolores, ipsam tempora omnis ipsum excepturi dolorem!
      Quaerat voluptates dolorum quos iste voluptatibus consequuntur eum dolores
      earum! Saepe ducimus et maiores, quibusdam, aut eius quam distinctio sit
      laudantium atque vero laborum dolores nam hic earum eum eaque. Expedita
      architecto non iure ullam laboriosam officiis similique facilis sint
      asperiores vero autem eum perspiciatis voluptatibus aut dolorem totam
      quasi distinctio, nam magnam provident. Rerum provident animi placeat
      veritatis saepe. Aut laboriosam, dolore numquam saepe assumenda culpa
      quisquam cumque? Dolor minus explicabo, officiis, accusamus eveniet
      molestiae cum aperiam suscipit, dignissimos quo neque a fuga similique?
      Vel, sit! At, temporibus sapiente. Molestiae beatae adipisci repellat rem
      provident, possimus officia eos est facere non modi aliquam ad cum neque
      quos praesentium. Ratione id laborum ut ad atque magni beatae ipsa fugiat
      excepturi? Quasi, totam doloribus placeat iure fuga dolore dolorum
      cupiditate, earum optio rerum soluta? Magnam atque recusandae optio
      blanditiis modi earum reprehenderit provident, in itaque! Eum, quaerat
      provident? Quisquam, corporis id. Nam ex ipsum dolores mollitia beatae,
      repellat rerum sequi odio? Culpa totam, ipsam aliquid soluta autem quos!
      Aperiam, nulla pariatur? Omnis dolore odit nihil maxime modi unde repellat
      rem sit. Et earum iusto facere ratione aliquid alias laborum fugit quis
      reprehenderit dolorum placeat sint, nesciunt aut impedit vel rerum error
      sunt quisquam, eaque ullam, assumenda ipsum perspiciatis atque modi.
      Natus!
    </p>
    <hr />
    <button>Click me!</button>
  </body>
</html>
